.footerContainer {
    background-color: #ececec;
    // position: fixed;
    // bottom: 0;
    // width: 100%;

    .footerLogoHolder {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;

        .footerLogo {
            width: 48px;
        }

        h4 {
            color: #a14235;
            flex-grow: 1;
            font-family: "Pacifico", cursive !important;
        }
    }

    .footerLinksHolder {
        padding-top: 5vh;
    }

    .footerTextHolder {
        padding: 30px;
    }
}
