.filterButton {
    color: white !important;
    margin: 0px;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed !important;
    z-index: 20;
}

.searchResultContainer {
    padding: 10px;
}
