.productsListContainer {
    margin: 20px 10px 15px 10px;

    .product {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;

        .productImage {
            height: 180px;
            padding: 10px;
        }

        .productDecriptionContainer {
            padding: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;

            .productButtonContainer {
                display: flex;
                flex-direction: row;
                margin-top: 10px;
                margin-bottom: 10px;

                .productButton {
                    margin: 5px;
                    color: white;
                }
            }
        }
    }

    .emptySearchContainer {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;

        .emptyImage {
            height: 240px;
            margin-bottom: 20px;
        }
    }
}

@media only screen and (max-width: 425px) {
    .productsListContainer {
        margin: 20px 8px 15px 8px;

        .product {
            margin: 5px;

            .productImage {
                height: 120px;
                padding: 10px;
            }

            .productDecriptionContainer {
                padding: 5px;

                .productButtonContainer {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}
